.footer{
    display: flex;
    justify-content: center !important;
    width: 100% !important;
    margin: 4rem 2rem;
    flex-direction: column;
    border-top: 1px dashed rgba(255,255,255,.25);
    padding: 2rem 1rem;

}

.footerLogo{
    width: 93px;
    height: 31px;
    margin-right: 1rem;
}
.footerText1{
    color: rgba(255,255,255,.6) !important;
    font-weight: bold;

}

.footerText2{
    color: rgba(255,255,255,.5) !important;

}

.footer100{
    width: 100% !important;
    display: flex;
    justify-content: center;
    margin: .25rem 0;

}

.footerMl{
    margin-left:  .5rem;
}