.contact{
    border: 1px dashed var(--color-1a) !important;
    display: flex;
    justify-content: center !important;
    flex-direction: column;
    text-align: center !important;
    width: 100%;
    border-radius: 16px;
    padding-bottom: 5rem;
}

.titleContact{
    font-size: 2rem;    
    font-family: 'Holtwood One SC', serif;
    color: var(--color-4);
    -webkit-text-fill-color: var(--color-4);
    -webkit-text-stroke: 2px var(--color-3a);
    text-align: center;
    text-transform: uppercase;
}
.textContact{
    color: rgba(255,255,255,.8) !important;
    font-weight: 300;
    font-size: 1rem !important;
}
.textContactIcon{
    color: var(--color-1a) !important;
}
.textContactBold{
    font-weight: bold;
}

.contactBlock{
    display: flex;
}

.contactBlockIcon{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactIconBlock{
    height:24px;
    margin-bottom: 1.5rem; 
}
.contactIcon{
    fill: var(--color-1a);
    width: 32px;
    height: 32px;
}